
#headerContainer {
	margin: 0 auto;
	float: left;
	position: relative;
	left: 50%;
}

#headerRow {
	float: left;
	position: relative;
	left: -50%;
}

#headerRow  div {
	width: 150px; /* Declare your value. Can be in relative units. */
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-family: sans-serif;
	/*font-size: small;
	font-weight: bolder;*/
}